.container-about-us {
  padding-top: 79px;
  padding-bottom: 70px;
}

.about-us__text-custom {
  max-width: 1080px;
}

@media (max-width: 640px) {
  .container-about-us {
    padding-top: 38px;
    padding-bottom: 50px;
  }

  .about-us__title-custom {
    font-size: 28px;
    margin-bottom: -2px;
  }

  .about-us__text-custom {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  .container-about-us {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .about-us__title-custom {
    margin-bottom: 13px;
  }
}
