.contacts {
  color: var(--font-black);
}

.container-contacts {
  border-top: 1px solid var(--strelka-disable);
  border-bottom: 1px solid var(--strelka-disable);
}

.contacts-top {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 31px;
}

.conctacts__item {
  display: flex;
}

/* Настройка формы */
.is-label-invalid {
  position: absolute;
  top: -18px;
  left: 23px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.is-invalid {
  border: 1px solid var(--invalid);
}

.contacts__form {
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
}

.contacts__place-name {
  margin: 0;
  margin-top: 7px;
}

.contacts__place-name-custom {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.contacts__place-address {
  margin: 0;
}

.contacts__place-address-custom {
  font-size: 16px;
  line-height: 32px;
}

.contacts__label {
  position: relative;
  width: 100%;
  min-width: 220px;
  max-width: 270px;
  margin-right: 20px;
}

.contacts__label-input {
  width: 100%;
  min-width: 220px;
  max-width: 270px;
  height: 50px;
  padding: 17px 60px 15px 23px;
  border: 1px solid var(--font-black);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--font-black);
  transition: background-color .3s ease-in-out;
}

.contacts__label-input::-webkit-input-placeholder {
  color: var(--border-grey);
}

.contacts__label-input:focus-visible {
  outline: none;
  background-color: var(--paggination-disable);
}

.contacts__button-custom {
  width: 100%;
  max-width: 329px;
  height: 50px;
  padding: 11px 34px 11px 33px;
  border: 2px solid var(--dark-violet);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--dark-violet);
  transition: background-color .3s ease-in-out;
}

.contacts__button-small-custom {
  display: none;
  width: 100%;
  max-width: 128px;
  height: 40px;
  padding: 11px 34px 11px 33px;
  border: 2px solid var(--dark-violet);
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-violet);
  transition: background-color .3s ease-in-out;
}

.contacts__button-small-custom:focus-visible,
.contacts__button-small-custom:focus-visible {
  color: var(--header-white);
  outline: none;
  background-color: var(--dark-violet);
}

.contacts__button-small-custom:active,
.contacts__button-small-custom:active {
  color: var(--header-white);
  background-color: var(--burger-violet-active);
}

.contacts__social-title {
  margin: 0;
  margin-bottom: 5px;
}

.contacts__social-title-custom {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.conctacts__item {
  margin: 0;
  padding: 0;
}

.contacts__item-list {
  position: relative;
}

.contacts__item-list:not(:last-child) {
  margin-right: 20px;
}

.contacts__item-list-link:hover:not(:active) svg {
  opacity: .5;
}

.contacts__item-list-link:focus-visible {
  outline: none;
}

.contacts__item-list-link:focus-visible svg {
  opacity: .5;
}

.contacts__item-list-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid var(--dark-violet);
  border-radius: 20px;
}

.contacts__item-list-link::after {
  display: none;
}

.contacts__item-list-link:active::after {
  top: 0;
  display: block;
  opacity: 1;
}

/* Настройка карты */
.contacts__map {
  position: relative;
  min-height: 700px;
  transition-duration: 100ms;
  transition-property: width, height, padding;
}

.contacts__map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

@media (max-width: 1890px) {
  .contacts__form {
    margin-right: 8px;
  }

  .contacts__button-custom {
    font-size: 15px;
    line-height: 14px;
  }
}

@media (max-width: 1440px) {
  .contacts-top {
    flex-direction: column;
  }

  .contacts__place-address-custom {
    font-size: 14px;
    line-height: 32px;
  }

  .contacts__place {
    margin-bottom: 30px;
  }

  .contacts__form {
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .contacts__label {
    min-width: 225px;
  }

  .contacts__label-input {
    min-width: 225px;
    padding: 17px 30px 15px 23px;
  }

  .contacts__button-custom {
    max-width: 500px;
  }

  .contacts__social-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .contacts-top {
    padding-top: 10px;
    padding-bottom: 37px;
  }

  .contacts__place-name {
    margin-top: 0;
  }

  .contacts__place-name-custom {
    margin-bottom: 4px;
  }

  .contacts__place {
    margin-bottom: 27px;
  }

  .contacts__label {
    width: 100%;
    max-width: 270px;
  }

  .contacts__label-input {
    padding: 17px 23px 15px 23px;
  }

  .contacts__button-custom {
    max-width: 343px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  .contacts__form {
    margin-bottom: 26px;
  }

  .contacts__social-title {
    margin-bottom: 5px;
  }

  @media (max-width: 1023px) and (min-width: 769px) {
    .contacts__button-custom {
      height: unset;
    }
  }

  @media (max-width: 768px) {
    .contacts-top {
      padding-top: 42px;
    }

    .contacts__form {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
    }

    .contacts__label {
      max-width: 323px;
      margin-right: 0;
      margin-bottom: 12px;
    }

    .contacts__label-input {
      max-width: 323px;
    }

    .contacts__button-custom {
      max-width: 318px;
      padding: 11px 28px;
    }
  }

  @media (max-width: 767px) and (min-width: 321px) {
    .contacts__label {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 380px) {
    .contacts__button-custom {
      max-width: 180px;
      font-size: 12px;
      line-height: 12px;
    }
  }

  @media (max-width: 320px) {
    .contacts-top {
      padding-top: 30px;
      padding-bottom: 0;
      border-top: none;
      border-bottom: none;
    }

    .container-contacts {
      border-top: none;
      border-bottom: none;
    }

    .contacts__place-name-custom {
      font-size: 18px;
      line-height: 25px;
    }

    .contacts__place-address-custom {
      font-size: 14px;
      line-height: 19px;
    }

    .contacts__form {
      margin-bottom: 15px;
    }

    .contacts__label-input::-webkit-input-placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }

    .contacts__place {
      margin-bottom: 23px;
    }

    .contacts__label {
      margin-bottom: 20px;
    }

    .contacts__label-input {
      height: 40px;
      font-size: 16px;
      line-height: 32px;
    }

    .contacts__button-custom  {
      display: none;
    }

    .contacts__button-small-custom  {
      display: block;
    }

    .contacts__social-title {
      margin-bottom: 7px;
    }

    .contacts__social-title-custom {
      font-size: 18px;
      line-height: 32px;
    }

    .wattsup {
      width: 50px;
      height: 50px;
    }

    .telegram {
      width: 50px;
      height: 50px;
    }

    .contacts__map {
      min-height: 335px;
    }
  }
}

@media (any-hover: hover) {
  .contacts__label-input:hover:not(:active) {
    background-color: var(--paggination-disable);
  }

  .contacts__button-small-custom:hover:not(:active),
  .contacts__button-small-custom:hover:not(:active) {
    color: var(--header-white);
    background-color: var(--dark-violet);
  }
}
