.developments {
  padding-top: 33px;
  padding-bottom: 15px;
  color: var(--font-black);
}

.swiper-wrapper {
  box-sizing: inherit;
}

.swiper-slide {
  height: unset;
}

.developments__title-custom {
  margin: 0;
}

.developments__title-custom {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

.developments__date-place {
  margin: 0;
  margin-bottom: 13px;
}

.developments__date-place-custom {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--border-grey);
}

.developments__date-place-custom1 {
  max-width: 150px;
}

.developments__date-place-custom2 {
  max-width: 88px;
}

.developments__date-place-custom3 {
  max-width: 141px;
}

.developments__date-place-custom4 {
  max-width: 141px;
}

.developments__date-place-custom5 {
  max-width: 180px;
}

.developments__content-title {
  margin: 0;
  margin-bottom: 10px;
}

.developments__content-title-custom {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.developments__content-title-custom1 {
  max-width: 300px;
}

.developments__content-title-custom2 {
  max-width: 330px;
}

.developments__content-title-custom3 {
  max-width: 350px;
}

.developments__text {
  margin: 0;
  margin-bottom: 65px;
}

.developments__text-custom {
  font-size: 16px;
  line-height: 32px;
}

.developments__link-date-place {
  margin: 0;
  margin-top: auto;
}

.developments__link-date-place-custom {
  position: relative;
  width: 88px;
  border-bottom: 1px solid var(--dark-violet);
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-violet);
  outline: none;
  transition: color .3s ease-in-out;
}

.developments__link-date-place-custom:hover {
  border-bottom: 1px solid var(--burger-violet-active);
  color: var(--burger-violet-active);
}

.developments__link-date-place-custom:focus-visible:not(:hover):not(:active) {
  border-bottom: 1px solid var(--header-white);
  color: var(--header-white);
}

.developments__link-date-place-custom:active {
  border-bottom: 1px solid var(--font-black);
  color: var(--font-black);
}

.developments__link-date-place-custom::after {
  content: "";
  position: absolute;
  z-index: -2;
  left: -8px;
  width: 104px;
  height: 40px;
  background-color: var(--dark-violet);
  transition: transform .4s ease;
  transform: translate(0%, 0%) scaleX(0);
}

.developments__link-date-place-custom:focus-visible::after {
  transform: translate(0%, 0%) scaleX(1);
}

.developments__slides-container {
  position: relative;
  top: -62px;
  overflow: hidden;
}

.developments__slide-custom {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--strelka-disable);
}

.developments__slide-custom:focus-visible {
  border: 1px solid var(--burger-violet-active);
  outline: none;
}

.developments__content {
  padding: 8px 50px 43px 50px;
}

.developments__content-custom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.developments__navigation {
  position: relative;
  z-index: 1;
  top: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  margin-left: 3px;
}

.developments__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--paggination-disable);
  cursor: pointer;
}

.developments__nav-btn:hover {
  background-color: var(--border);
  transition: background-color .3s ease-in-out;
}

.developments__nav-btn:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--dark-violet);
  outline-offset: -2px;
}

.developments__nav-btn:active {
  outline: 2px solid var(--dark-violet);
  outline-offset: -1px;
}

.developments__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 12px / 2);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transform-origin: center;
}

.developments__nav-btn.swiper-button-disabled {
  display: none;
}

.developments__btn-prev {
  right: 27px;
}

.developments__btn-next {
  left: 23px;
}

.developments__btn-next::before {
  left: calc(50% - 12px / 2);
  border-top: 1px solid var(--header-black);
  border-right: 1px solid var(--header-black);
}

.developments__btn-next.swiper-button-disabled::before {
  border-top: 1px solid var(--strelka-disable);
  border-right: 1px solid var(--strelka-disable);
}

.developments__btn-prev::before {
  left: calc(50% - 12px / 2);
  border-bottom: 1px solid var(--header-black);
  border-left: 1px solid var(--header-black);
}

.developments__btn-prev.swiper-button-disabled::before {
  border-bottom: 1px solid var(--strelka-disable);
  border-left: 1px solid var(--strelka-disable);
}

.developments-swiper-pagination {
  display: none;
}

@media (max-width: 1024px) {
  .developments {
    position: relative;
    top: -30px;
    padding-top: 31px;
    padding-bottom: 64px;
  }

  .developments__slides-container {
    top: 15px;
  }

  .developments__content {
    padding: 11px 31px 49px 34px;
  }

  .developments__date-place {
    margin-bottom: 3px;
  }

  .developments__date-place-custom {
    display: flex;
    align-self: flex-end;
    text-align: end;
  }

  .developments__content-title-custom {
    max-width: 222px;
  }

  .developments__content-title {
    margin-bottom: 6px;
  }

  .developments__text {
    margin-bottom: 22px;
  }

  .developments__navigation {
    display: none;
  }

  .swiper-wrapper {
    margin-bottom: 30px;
  }

  .developments-swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--paggination-grey);
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  @media (max-width: 768px) {
    .developments__content {
      padding: 10px 18px 49px 32px;
    }

    .developments__slide-custom {
      max-width: 317px;
    }

    .developments__text {
      max-width: 243px;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 576px) {
    .developments__date-place-custom {
      font-size: 10px;
    }

    .developments__content-title-custom {
      font-size: 16px;
      line-height: 24px;
    }

    .developments__text-custom {
      font-size: 12px;
      line-height: 20px;
    }

    .developments__link-date-place-custom {
      width: 76px;
      font-size: 14px;
    }
  }

  @media (max-width: 440px) {
    .developments__title-custom {
      font-size: 28px;
    }

    .developments__content {
      padding: 10px 18px 49px 18px;
    }

    .developments__date-place-custom {
      font-size: 8px;
    }

    .developments__content-title-custom {
      font-size: 12px;
      line-height: 20px;
    }

    .developments__text {
      margin-bottom: 10px;
    }

    .developments__text-custom {
      font-size: 10px;
      line-height: 18px;
    }

    .developments__link-date-place-custom {
      width: 65px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  @media (max-width: 320px) {
    .developments {
      top: -16px;
      padding-bottom: 45px;
    }

    .developments__title-custom {
      line-height: 38px;
    }

    .developments__slides-container {
      top: 13px;
    }

    .developments__content {
      padding: 11px 18px 49px 23px;
    }

    .swiper-wrapper {
      margin-bottom: 23px;
    }

    .developments__date-place {
      margin-bottom: 10px;
    }

    .developments__date-place-custom {
      font-size: 12px;
    }

    .developments__content-title {
      margin-bottom: 4px;
    }

    .developments__content-title-custom {
      max-width: 244px;
      font-size: 24px;
      line-height: 33px;
    }

    .developments__text-custom {
      max-width: 234px;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 32px;
    }

    .developments__link-date-place-custom {
      width: 88px;
      margin-left: 5px;
      font-size: 16px;
      line-height: 28px;
    }
  }
}
