.galery {
  background-image: url(../img/galery-wall-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-galery {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galery__left {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.galery__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.galery__select-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.galery__title-custom {
  color: var(--header-white);
}

.galery__select {
  min-height: 50px;
  margin-bottom: 50px;
}

.galery-text {
  margin-top: auto;
}

.galery-text-custom {
  color: var(--header-white);
}

.box {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.galery-text-custom {
  margin-left: 1px;
}

.check-label {
  cursor: pointer;
}

.checkbox {
  margin-right: 7px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visible-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--header-white);
  transition: border-color .3s ease;
}

.visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  opacity: 0;
  background-color: var(--burger-violet);
  transition: opacity .3s ease;
  transform: translate(-50%, -50%);
}

.checkbox:checked ~ .visible-checkbox::before {
  opacity: 1;
}

.checkbox:checked ~ .visible-checkbox {
  border-color: var(--burger-violet);
}

.checkbox:checked ~ .check-text {
  color: var(--burger-violet);
}

.checkbox:focus-visible ~ .visible-checkbox {
  border-color: var(--burger-violet);
}

.checkbox:focus-visible ~ .check-text {
  color: var(--burger-violet);
}

.galery__swiper {
  width: calc(1150 / 1600 * 100%);
  margin-top: 23px;
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.galery__navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 28px;
  margin-left: 3px;
}

.number-pagination {
  margin-right: 20px;
  color: var(--header-white);
  text-align: center;
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--paggination-grey);
  cursor: pointer;
}

.nav-btn:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--header-black);
  outline-offset: -2px;
}

.nav-btn:active {
  outline: 2px solid var(--header-black);
  outline-offset: -1px;
  background-color: var(--burger-violet-active);
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-btn.swiper-button-disabled {
  outline: none;
  background-color: var(--paggination-disable);
  cursor: auto;
}

.btn-prev {
  margin-right: 18px;
}

.btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.btn-next.swiper-button-disabled::before {
  border-top: 1px solid var(--strelka-disable);
  border-right: 1px solid var(--strelka-disable);
}

.btn-prev::before {
  left: calc(50% - 7px / 2);
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.btn-prev.swiper-button-disabled::before {
  border-bottom: 1px solid var(--strelka-disable);
  border-left: 1px solid var(--strelka-disable);
}

.slide-custom {
  position: relative;
  overflow: hidden;
  background-color: #926b88;
}

.slide-custom::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.slide-custom::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 23px 25px 28px 25px;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  background-image: url(../img/loup.svg);
  background-repeat: no-repeat;
  background-position: 135px 123px;
  background-clip: content-box;
  background-size: 80px;
  transition: opacity .5s ease;
}

.slide-custom:focus {
  outline: none;
}

.slide-custom:focus::before {
  border-color: #7943a4;
}

.slide-custom:active::before {
  height: 100%;
  border-color: #d1a9f0;
  background-color: rgba(194, 131, 243, .4);
}

.galery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (min-width: 1921px) {
  .slide-custom::after {
    background-position: center
  }
}

@media (max-width: 1890px) {
  .slide-custom::after {
    background-position: center;
  }
}

@media (max-width: 1024px) {
  .galery {
    background-image: url(../img/galery-wall-1024.jpg);
  }

  .container-galery {
    padding-bottom: 50px;
  }

  .galery__left {
    display: flex;
    flex-direction: column;
    width: calc(485 / 1600 * 100%);
  }

  .galery-text-custom {
    margin-left: 0;
  }

  .visible-checkbox {
    margin-right: 7px;
  }

  .galery__select {
    margin-bottom: 56px;
  }

  .galery__navigation {
    margin-left: 2px;
  }

  .galery-text {
    margin-top: unset;
    margin-bottom: auto;
  }

  .galery__swiper {
    width: calc(1030 / 1600 * 100%);
  }

  .slide-custom::before {
    height: 315px;
  }
}

@media (max-width: 768px) {
  .galery {
    background-image: url(../img/galery-wall-768.jpg);
  }

  .container-galery {
    padding-bottom: 52px;
  }

  .galery__left,
  .galery__swiper {
    width: 100%;
    margin-left: 0;
  }

  .galery__swiper {
    margin-top: 0;
  }

  .galery__left {
    margin-bottom: 38px;
  }

  .galery__navigation {
    margin-left: 0;
  }

  .number-pagination {
    margin-right: 19px;
  }

  .galery__select {
    max-width: 280px;
    margin-bottom: 0;
  }

  .slide-custom::before {
    height: 330px;
  }
}

@media (max-width: 440px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .galery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-galery {
    padding-top: 51px;
    padding-bottom: 22px;
  }

  .galery__title {
    margin-bottom: 12px;
  }

  .galery__title-custom {
    font-size: 28px;
    line-height: 38px;
  }

  .galery__select-text {
    margin-bottom: 5px;
  }

  .galery__select {
    max-width: 290px;
  }

  .galery__left {
    margin-bottom: 30px;
  }

  .slide-custom::before {
    height: 367px;
  }

  .galery__navigation {
    align-self: center;
    margin-top: 20px;
  }

  .slide-custom::before {
    padding-top: calc(110% - 6px);
  }
}

@media (max-width: 320px) {
  .slides-container {
    height: 367px;
  }

  .galery {
    background-image: url(../img/galery-wall-320.jpg);
  }
}

@media (any-hover: hover) {
  .check-label:hover:not(:active) .visible-checkbox {
    border-color: var(--burger-violet);
  }

  .nav-btn:hover:not(:active) {
    background-color: var(--dark-violet);
    transition: background-color .3s ease-in-out;
  }

  .nav-btn.swiper-button-disabled:hover:not(:active) {
    background-color: var(--paggination-disable);
  }

  .slide-custom:hover:not(:active)::after {
    opacity: 1;
  }
}
