.hero {
  position: relative;
  z-index: 10;
  padding-top: 235px;
  padding-bottom: 120px;
}

.hero__content {
  position: relative;
  z-index: 10;
  pointer-events: none;
  color: var(--header-white);
}

.hero__content > * {
  pointer-events: auto;
}

.hero__title  {
  max-width: 597px;
  margin: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 96px;
}

.hero__text {
  max-width: 550px;
  margin: 0;
  margin-bottom: 93px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.hero__link {
  display: inline-block;
  padding: 18.5px 33px;
  border: 3px solid var(--dark-violet);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--header-white);
  background-color: var(--dark-violet);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}


.hero__link:focus-visible  {
  outline: 2px solid var(--burger-violet);
  outline-offset: 5px;
}

.hero__link:active {
  border: 3px solid var(--border);
  background-color: var(--burger-violet-active);
}

.hero__slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.slider.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slide {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.slide-1 {
  background-image: url('../img/hero-1920.jpg');
}

.slide-2 {
  background-image: url('../img/hero-slide-2-1920.jpg');
}

.slide-3 {
  background-image: url('../img/hero-slide-3-1920.jpg');
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1440px) {
  .hero {
    padding-top: 250px;
    padding-bottom: 122px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 106px;
    padding-bottom: 115px;
  }

  .slide-1 {
    background-image: url('../img/hero-1024.jpg');
  }

  .slide-2 {
    background-image: url('../img/hero-slide-2-1024.jpg');
  }

  .slide-3 {
    background-image: url('../img/hero-slide-3-1024.jpg');
  }

  .hero__title {
    margin-bottom: -10px;
  }

  .hero__text {
    max-width: 661px;
    margin-bottom: 136px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 106px;
    padding-bottom: 115px;
  }

  .hero__title {
    margin-bottom: -7px;
  }

  .hero__text {
    margin-bottom: 135px;
  }

  .slide-1 {
    background-image: url('../img/hero-768.jpg');
  }

  .slide-2 {
    background-image: url('../img/hero-slide-2-768.jpg');
  }

  .slide-3 {
    background-image: url('../img/hero-slide-3-768.jpg');
  }
}

@media (max-width: 640px) {
  .hero {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 106px;
    padding-bottom: 100px;
  }

  .hero__title {
    max-width: 400px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 43px;
    text-align: center;
  }

  .hero__text {
    max-width: 400px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }

  .hero__link {
    padding: 15px 16px 15px 19px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 29px;
    padding-bottom: 44px;
  }

  .hero__title {
    max-width: 265px;
    margin-bottom: 4px;
    font-size: 32px;
  }

  .hero__text {
    max-width: 265px;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link{
    padding: 10px 16px 10px 16px;
    font-size: 12px;
  }

  .section-hero__slider {
    background-image: url('../img/hero-320.jpg');
  }

  @-webkit-keyframes slider {
    25%{
        background-image: url('../img/hero-slide-2-320.jpg');
    }
    50%{
        background-image: url('../img/hero-slide-3-320.jpg');
    }
  }
  @keyframes slider {
    25%{
        background-image: url('../img/hero-slide-2-320.jpg');
    }
    50%{
        background-image: url('../img/hero-slide-3-320.jpg');
    }
  }
}

@media (any-hover: hover) {
  .hero__link:hover:not(:active) {
    border: 3px solid var(--border);
  }
}
