.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
  color: var(--header-black);
	background-color: rgba(0,0,0, 0.5);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
	width: 1000px;
	margin: 50px auto;
	display: none;
	vertical-align: middle;
	background-color: #fff;
	/* border-radius: 20px; */
	cursor: default;
	text-align: left;
}

.modal__content {
  display: flex;
}

.modal__content-right-button {
  display: flex;
  justify-content: flex-end;
}
/* /// */
.hamburger-box-modal {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  outline: none;
}

.modal__content-right-button-modal-close {
  margin-top: 20px;
  margin-right: 20px;
}

.hamburger-modal,
.hamburger-modal::after {
  position: absolute;
  width: 20px;
  height: 1px;
  border-radius: 4px;
  background-color: var(--header-black);
}

.hamburger-modal::after {
  content: "";
  display: block;
}

.hamburger-modal::after {
  bottom: -20px;
}

.hamburger-modal {
  transform: translate3d(0, 20px, 0) rotate(135deg);
  top: -5px;
  left: 5px;
}

.hamburger-modal::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}
/* /// */
.modal__content-right-description {
  padding: 85px 120px 135px 48px;
}

.modal__content-right-description-title {
  margin: 0px;
}

.modal__content-right-description-title-custom {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal__content-right-description-name {
  margin: 0px;
  margin-bottom: 5px;
}

.modal__content-right-description-name-custom {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__content-right-description-date {
  margin: 0px;
  margin-bottom: 40px;
}

.modal__content-right-description-date-custom {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--border-grey);
}

.modal__content-right-description-text {
  margin: 0px;
}

.modal__content-right-description-text-custom {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.modal__content-right-button-modal-close:focus-visible {
	outline: 3px red solid;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

@media (max-width: 1024px) {
	.modal__container {
		width: 90%;
	}
}
