.default-select {
  position: relative;
  overflow: hidden;
  max-width: 440px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: var(--header-white);
}

.default-select:focus {
  outline: none;
}

.default-select.is-open {
  overflow: visible;
}

.default-select.is-disabled .default-select__inner,
.default-select.is-disabled .default-select__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.default-select.is-disabled .default-select__item {
  cursor: not-allowed;
}

.default-select [hidden] {
  display: none !important;
}

.default-select[data-type*=select-one] {
  cursor: pointer;
}

.default-select[data-type*=select-one] .default-select__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--header-white);
  background-color: var(--header-white);
  margin: 0;
}

.default-select[data-type*=select-one]::after {
  content: "";
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--header-white);
  pointer-events: none;
  transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.default-select[data-type*=select-one].is-open::after {
  margin-top: -3px;
  border-color: var(--header-white);
  transform: rotate(225deg);
}

.default-select__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 3px 8px 3px 16px;
  border: 1px solid var(--header-white);
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.default-select__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-focused .default-select__inner,
.is-open .default-select__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-flipped.is-open .default-select__inner {
  border-radius: 6px;
}

.default-select__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.default-select__list--single {
  display: inline-block;
  width: 100%;
}

.default-select__list--single .default-select__item {
  width: 100%;
}

.default-select__list--dropdown,
.default-select__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  border: 1px solid transparent;
  top: 100%;
  border-radius: 6px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.default-select__list--dropdown,
.is-active.default-select__list[aria-expanded] {
  visibility: visible;
}

.is-open .default-select__list--dropdown,
.is-open .default-select__list[aria-expanded] {
  border-color: var(--border-grey);
}

.is-flipped .default-select__list--dropdown,
.is-flipped .default-select__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.default-select__list--dropdown .default-select__list,
.default-select__list[aria-expanded] .default-select__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.default-select__list--dropdown .default-select__item,
.default-select__list[aria-expanded] .default-select__item {
  position: relative;
  padding: 3px 8px 3px 16px;
  font-size: 16px;
  line-height: 32px;
  color: var(--border-grey);
}

.default-select__item:not(:last-child) {
  border-bottom: 1px solid var(--border-grey);
}

.default-select__list--dropdown .default-select__item--selectable.is-highlighted,
.default-select__list[aria-expanded] .default-select__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--header-white);
  transition: background-color 0.3s ease;
}

.default-select__list--dropdown .default-select__item--selectable.is-highlighted::after,
.default-select__list[aria-expanded] .default-select__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.default-select__item {
  cursor: default;
}

.default-select__item--selectable {
  cursor: pointer;
}

.default-select__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.default-select__button:focus {
  outline: none;
}

.default-select__input {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.default-select__input:focus {
  outline: 0;
}

.default-select__list--dropdown .default-select__placeholder {
  display: none;
}

@media (max-width: 768px) {
  .default-select__inner {
    padding: 3px 8px 3px 15px;
  }

  .default-select__inner {
    vertical-align: -7px;
  }

  .default-select__list--dropdown,
  .default-select__list[aria-expanded] {
    background-color: var(--header-black);
  }
}

@media (max-width: 768px) {
  .default-select {
    margin-bottom: 38px;
  }
}

@media (max-width: 320px) {
  .default-select {
    margin-bottom: 27px;
  }
}
